<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment = "commonHead(title)">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="keywords" content="bld 后台管理系统"/>
    <meta name="description" content="中型cms后台页面"/>
    <title th:text="${title}">Title</title>
    <link rel="stylesheet" type="text/css" href="/lib/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/lib/h-ui.admin/css/H-ui.admin.css" />

    <script type="text/javascript" th:src="@{/js/jquery-1.9.1.min.js}"></script>

</head>
</html>