
<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <span th:include="common/head :: commonHead('后台首页')"></span>
</head>
<body>
<div class="page-container">
<!--<h2>首页</h2>-->
<!--<p th:text="'用户ID：' + ${id}"/>
<p th:text="'name：' + ${name}"/>
<p th:text="'用户手机：' + ${mobilePhone}"/>
<p th:text="'昵称：' + ${userBase.nickName}"/>-->
    <table class="table table-border table-bordered table-bg">
        <thead>
            <tr>
                <th colspan="7" scope="col">近100条登录日志</th>
            </tr>
            <tr class="text-c">
                <th>id</th>
                <th>姓名</th>
                <th>手机号</th>
                <th>ip</th>
                <th>最新登陆时间</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-c" th:each="loginlog:${loginLogList}">
                <td th:text="${loginlog.userId}"></td>
                <td th:text="${loginlog.userName}"></td>
                <td th:text="${loginlog.mobilePhone}"></td>
                <td th:text="${loginlog.ip}"></td>
                <td th:text="${#dates.format(loginlog.createTime,'yyyy-MM-dd HH:mm:ss') }"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>